# CONFIG AND PRIVATE AUTH KEYS
ABOT_MODEL=local
SUPER_KEY=your_super_key_here

# OPENAI
OPENAI_API_KEY=your_openai_api_key_here

# GOOGLE_AUTH
GOOGLE_AUTH_CLIENT_ID=your_google_client_id_here
GOOGLE_AUTH_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_PATH=http://localhost:8000/api/v1/auth/google/callback
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token

# GITHUB_AUTH
GITHUB_AUTH_CLIENT_ID=your_github_client_id_here
GITHUB_AUTH_CLIENT_SECRET=your_github_client_secret_here
GITHUB_REDIRECT_PATH=http://localhost:8000/api/v1/auth/github/callback
GITHUB_TOKEN_URL=https://github.com/login/oauth/access_token

# LINKEDIN AUTH
LINKEDIN_CLIENT_ID=your_linkedin_client_id_here
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret_here
LINKEDIN_REDIRECT_URI=http://localhost:8000/api/v1/auth/linkedin/callback

# FRONTEND
FRONT_URI=localhost
FRONT_HOST=8501

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379